* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-content-pixie-2967810.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    color: darkgoldenrod;
    
}

.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.nav a {
    font-size: 20px;
    color: black;
    background-color: darkgoldenrod;
    padding-left: 20px;
    margin-right: 35px;
   
}

.about-me {
    color: darkgoldenrod;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin: 20px;


} 

.about-me h2, .work h2, .contact h2 {
    padding-right: 25px;
    min-width: 22%;
}


.about-me p {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: black;
}

.work {
    color: darkgoldenrod;
    font-size: 30px;
    display: flex;
   justify-content: flex-start;
    padding: 20px;
    margin: 20px;

}

.image-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: black;
}

.image {
    width: 50%;
    padding: 10px;
    
}

.image:first-child {
    width: 100%;
    flex-grow: 1;
}

.contact {
    color: darkgoldenrod;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin: 20px;

}

.contact-links ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 20px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: black;
}

.contact-links a {
    padding-left: 20px;
    margin-right: 35px;
}

@media screen and (max-width: 768px){
    .nav {
        width: 50%;
    }
    .nav ul {
        flex-direction: column;
        align-items: flex-end;
        margin: 20px;
        
    }

    .nav a {
        padding-left: 0;
        margin-right: 0;
        
    }

    .nav li {
        margin-bottom: 20px;
    }
      
    .hero img {
        width:175px;
        height: auto;
    }

    .about-me, .work, .contact {
        flex-direction: column;
    }
    .about-me p, .image-wrapper, .contact-links ul {
        padding-left: 0;
        border-top: 2px solid black;
        border-left: none;
        
    }

    .contact-links ul{
        justify-content: flex-start;
    }
}