* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-content-pixie-2967810.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    color: darkgoldenrod;
    
}

.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.nav a {
    font-size: 20px;
    color: black;
    background-color: darkgoldenrod;
    padding-left: 20px;
    margin-right: 35px;
   
}

.about-me {
    color: darkgoldenrod;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin: 20px;


} 

.about-me h2, .work h2 {
    padding-right: 25px;
    min-width: 15%;
}


.about-me p {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: black;
}

.work {
    color: darkgoldenrod;
    font-size: 30px;
    display: flex;
   justify-content: flex-start;
    padding: 20px;
    margin: 20px;

}

.image-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-color: black;
}

.image {
    width: 50%;
    padding: 10px;
}

.image:first-child {
    width: 100%;
    flex-grow: 1;
}

